<div class="container" *ngIf="usuario">
    <div class="row">
        <div class="col-sm-3">
            <div *ngIf="usuario.imagen == null; else imagenUsuario">
                <img class="img-thumbnail" src="../../assets/perfil.png" alt="No sale">
            </div>
            <div #imagenUsuario>
                <img class="img-thumbnail" src="{{url+'getImagen/'+usuario.imagen}}" alt="Imagen del usuario">
            </div>
        </div>
        <div class="col-sm-4">
            <h1>Nombre: {{usuario.nombre}}</h1>
            <p> Nick: {{usuario.nick}}</p>
            <p>Descripción: {{usuario.descripcion}}</p>
            <div *ngIf="status == 'noSeguido'">
                <button (click)=seguirUsuario()>Seguir</button>
            </div>
            <div *ngIf="status == 'seguido'">
                <button (click)=dejarSeguir()>Dejar de seguir</button>
            </div>
        </div>
    </div>
        <div class="critica">
            <h2>Crítica de películas: </h2>
            <p *ngIf="usuario.peliculas.lenght == 0">
                El usuario no tiene ninguna película evaluada
            </p>
            <ul>
                <li *ngFor="let pelicula of usuario.peliculas">
                    <h3 routerLink='/pelicula/{{pelicula.pelicula}}'>{{pelicula.titulo}}</h3>
                    <p>{{pelicula.nota}}</p>
                    <img routerLink='/pelicula/{{pelicula.pelicula}}' src="{{pelicula.imagen}}"
                        alt="Imagen de la película">
                </li>
            </ul>
        </div>
        <div class="critica">
            <h2>Críticas de series</h2>
            <p *ngIf="usuario.series == null">
                El usuario no tiene ninguna serie evaluada
            </p>
            <ul>
                <li *ngFor="let serie of usuario.series">
                    <h3 routerLink='/serie/{{serie.serie}}'>{{serie.titulo}}</h3>
                    <p>{{serie.nota}}</p>
                    <img routerLink='/serie/{{serie.serie}}' src="{{serie.imagen}}" alt="Imagen de la película">
                </li>
            </ul>
        </div>
</div>