.container{
    max-width: 100%;
}

.rounded{
    width: 250px;
    height: 200px;
}

.critica ul{
    background: white;
    display: flex;
    margin: 10px;
    padding: 15px;
    overflow-x: scroll;
    border: solid black 1px;
    text-align: center;
}

.critica ul li{
    list-style: none;
    margin-right: 30px;
    padding: 10px;
}

.critica ul h2{
    margin-top: 10px;
    margin-bottom: 0;
}

.critica img{
    width: 150px;
    height: 200px;
    border: solid black 1px;
}
