<div class="container" *ngIf="usuario">
    <div class="row">
        <div class="col-sm-4">
            <div *ngIf="usuario.imagen === null">
                <img class="img-thumbnail" src="../../assets/perfil.png" alt="No sale">
            </div>
            <div *ngIf="usuario.imagen != null">
                <img class="img-thumbnail" src="{{url+'getImagen/'+usuario.imagen}}" alt="Imagen del usuario">
            </div>
        </div>
        <div class="col-sm-4">
            <h1>{{usuario.nombre}}</h1>
            <p> {{usuario.nick}}</p>
            <p>{{usuario.descripcion}}</p>
            <div *ngIf="status == 'noSeguido'">
                <button class="btn btn-primary" (click)=seguirUsuario()>Seguir</button>
            </div>
            <div *ngIf="status == 'seguido'">
                <button class="btn btn-primary" (click)=dejarSeguir()>Dejar de seguir</button>
            </div>
        </div>
    </div>
        <div class="critica">
            <h2>Crítica de películas: </h2>
            <p *ngIf="usuario.peliculas.lenght == 0">
                El usuario no tiene ninguna película evaluada
            </p>
            <ul>
                <li *ngFor="let pelicula of usuario.peliculas">
                    <img routerLink='/pelicula/{{pelicula.pelicula}}' src="{{pelicula.imagen}}" alt="Imagen de la película">
                    <h2>{{pelicula.nota}}</h2>
                    <h3 routerLink='/pelicula/{{pelicula.pelicula}}'>{{pelicula.titulo}}</h3>
                </li>
            </ul>
        </div>
        <div class="critica">
            <h2>Críticas de series</h2>
            <p *ngIf="usuario.series == null">
                El usuario no tiene ninguna serie evaluada
            </p>
            <ul>
                <li *ngFor="let serie of usuario.series">
                    <img routerLink='/serie/{{serie.serie}}' src="{{serie.imagen}}" alt="Imagen de la serie">
                    <h2>{{serie.nota}}</h2>
                    <h3 routerLink='/serie/{{serie.serie}}'>{{serie.titulo}}</h3>
                </li>
            </ul>
        </div>
</div>

<app-confirm *ngIf="modal === 'seguir'" mensaje="Los cambios se han guardado correctamente" status="alert"
    (aceptButton)="reloadUsuario()"></app-confirm>