.navbar{
    background: #0f38c0d2;
    padding: 30px;
}

.navbar-brand{
    padding-right: 130px;
}

.navbar-collapse{
    justify-content: space-between;
    margin-left: 20px;
}

.navbar a  {
    text-decoration: none;
    font-family: 'Acme', sans-serif;
    font-size: 25px;
    color: white;
}

.menu{
    color: white;
    font-size: 35px;
}

.buscar{
    width: 50px;
}

#titulo{
    width: 350px;
}

.nav-item{
    margin-right: 30px;
    margin-left: 30px;
}

.sesion a{
    margin-left: 50px;
    margin-right: 50px;
    display: inline;
}
.usuario{
    display: flex;
}

.usuario a, p{
    font-size: 20px;
    color: black;
}

.usuario img{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 2px;
    margin-right: 10px;
}

#nombre {
    font-size: 40px;
}

.footer{
    background: #0f38c0d2;
    margin-top: 100px;
    padding: 100px;
}

.footer p{
    color: white;
}

 