.menu{
    background: #0f38c0d2;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.menu a  {
    text-decoration: none;
    font-family: 'Acme', sans-serif;
    font-size: 25px;
    color: white;
}

.titulo {
    text-align: left;
}

#nombre {
    font-size: 40px;
}

 