.navbar{
    background: #0f38c0d2;
    padding: 30px;
}

.navbar-brand{
    margin-right: 100px;
}

.navbar-collapse{
    justify-content: space-between;
    margin-left: 20px;
}

.navbar a  {
    text-decoration: none;
    font-family: 'Acme', sans-serif;
    font-size: 25px;
    color: white;
}

.menu{
    color: white;
    font-size: 35px;
}

.buscar{
    width: 50px;
}

#titulo{
    width: 350px;
}

.nav-item{
    margin-right: 30px;
    margin-left: 30px;
}

.usuario{
    display: flex;
}

.usuario a{
    font-size: 20px;
    color: black;
}

.usuario p{
    font-size: 25px;
    color: white;
}

.usuario img{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    overflow: hidden;
    padding: 0;
}


@media screen and (max-width: 780px) {
    .nick{
        display: none;
    }
    #titulo{
        width: 150px;
    }
}

#nombre {
    font-size: 40px;
}

.footer{
    background: #0f38c0d2;
    margin-top: 60px;
    padding: 100px;
}

.footer p{
    color: white;
}