.menu{
    background: #0f38c0d2;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    height: 120px;
}

.menu a  {
    text-decoration: none;
    font-family: 'Acme', sans-serif;
    font-size: 25px;
    color: white;
}

.menu input {
    width: 220px;
}

.menu button {
    width: 100px;
}

.titulo {
    text-align: left;
}

.sesion a{
    margin-left: 50px;
    margin-right: 50px;
    display: inline;
}
.usuario{
    display: flex;
}

.usuario a, p{
    font-size: 20px;
    color: black;
}

.usuario img{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 2px;
    margin-right: 10px;
}

#nombre {
    font-size: 40px;
}

 