<div class="menu">
  <a routerLink='/' id="nombre">RFilm</a>
  <div>
    <input id="titulo" name="titulo" [formControl]="titulo" placeholder="Buscardor de la plataforma" type="search">
    <button routerLink='/buscar/{{titulo.value}}'>Buscar</button>
  </div>
  <div class="sesion" *ngIf='!identidad'>
    <a routerLink='/login'>Iniciar sesión</a>
    <a routerLink='/registro'>Registro</a>
  </div>
  <div class="usuario" *ngIf="identidad">
    <img *ngIf="identidad.imagen != null" src="{{url+'getImagen/'+identidad.imagen}}" alt="Imagen del usuario">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>{{identidad.nick}}</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <a mat-list-item routerLink='/perfil'>
            Perfil
          </a>
          <a mat-list-item (click)="logout()">
            Cerrar sesión
          </a>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>

<router-outlet></router-outlet>