.modal {
    display: block;
  }

  .modal-content {
    border: 5px solid rgba(62, 62, 65, 0.904);
    text-align: center;
  }

  .modal-dialog {
    margin: 5.75rem auto
  }

  .modal-footer {
    justify-content: center;
  }

  .btn {
    padding: 10px 40px 10px 40px;
    margin: 20px;
    text-align: center;
  }

  