h1, h2 {
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
}

p{
    padding: 5px;
}

.serie{
    padding-top: 30px;
}

.pelis a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.pelis a:hover{
    color: blue;
    cursor: pointer;
}

.pelis img{
    width: 150px;
    height: 200px;
    border: 5px outset black;
    border-radius: 10px;
}

.pelis img:hover {
    border: 0px;
    cursor: pointer;
}

.row {
    padding: 20px;
    border: solid black 1px;
    text-align: center;
    margin-bottom: 50px;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
}

.botones{
    display: flex;
}

.botones .botonA{
    text-decoration: underline;
    color: blue;
}

.botones .boton:hover{
    color: blue;
    cursor: pointer;
}


@media screen and (max-width: 580px) {
    .botones{
        margin-left: 100px;
    }

    .row{
        overflow-x: scroll;
        width: min-content;
        margin-left: 100px;
    }
}

