h1, h2 {
    text-align: center;
}

.container a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.container a:hover{
    color: blue;
}

.container img{
    width: 150px;
    height: 200px;
}

.container span{
    height: 55px;
    display: inline-block;
}

.row {
    padding: 20px;
    border: solid black 1px;
    text-align: center;
    margin-bottom: 50px;
    background-color: white;
}

@media screen and (max-width: 580px) {
    .row{
        overflow-x: scroll;
        width: min-content;
        margin-left: 100px;
        margin-top: 100px;
    }
}

