h1, h2 {
    text-align: center;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    text-align: center;
}

.container li{
    list-style: none;
}

.container a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.container a:hover{
    color: blue;
}

.container img{
    width: 150px;
    height: 200px;
}