
.row{
    margin: 50px;
    margin-left: 100px;
}

.menu{
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

p{
    font-size: 19px;
    margin: 11px;
}

form{
    font-size: 21px;
    margin-left: 15px;
}

label{
    margin-bottom: 18px;
}

p:hover{
    color: blue;
    cursor: pointer;
}

button{
    margin: 10px;
}