<div class="container" *ngIf="usuario">
    <div class="row">
        <div class="col-sm-4">
            <div *ngIf="usuario.imagen === null">
                <img class="img-thumbnail" src="../../assets/perfil.png" alt="Imagen genérica del usuario">
            </div>
            <div *ngIf="usuario.imagen != null">
                <img class="img-thumbnail" src="{{url+'getImagen/'+usuario.imagen}}" alt="Imagen del usuario">
            </div>
            <button class="btn btn-primary" routerLink='/updatePerfil/{{usuario._id}}'>Modificar Perfil</button>
            <button class="btn btn-primary" (click)=recomendador()>Recomendaciones</button>
        </div>
        <div class="col-sm-4">
            <h1>{{usuario.nombre}}</h1>
            <p>{{usuario.nick}}</p>
            <p>{{usuario.email}}</p>
            <p *ngIf="usuario.descripcion">{{usuario.descripcion}}</p>
            <div class="btn-group">
                <div class="dropdown">   
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Seguidos</button>
                <ul class="dropdown-menu">
                    <li *ngFor="let seguido of usuario.seguidos">
                        <a class="dropdown-item" routerLink='/usuario/{{seguido.usuario}}'>{{seguido.nick}}</a>
                    </li>
                </ul>
                </div>
                <div class="dropdown"> 
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Seguidores</button>
                <ul class="dropdown-menu">
                    <li *ngFor="let seguidores of usuario.seguidores">
                        <a class="dropdown-item" routerLink='/usuario/{{seguidores.usuario}}'>{{seguidores.nick}}</a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="critica" *ngIf="status == true">
        <h2>Recomendaciones: </h2>
        <ul>
            <li *ngFor="let recomendacion of recomendaciones">
                <div *ngIf="recomendacion.tipo == 'serie'">
                    <img routerLink='/serie/{{recomendacion.id}}' src="{{recomendacion.imagen}}"
                        alt="Imagen de la serie">
                    <h3 routerLink='/serie/{{recomendacion.id}}'>{{recomendacion.titulo}}</h3>
                </div>
                <div *ngIf="recomendacion.tipo == 'pelicula'">
                    <img routerLink='/pelicula/{{recomendacion.id}}' src="{{recomendacion.imagen}}"
                        alt="Imagen de la película">
                    <h3 routerLink='/pelicula/{{recomendacion.id}}'>{{recomendacion.titulo}}</h3>
                </div>
            </li>
        </ul>
    </div>
    <div class="critica">
        <h2>Críticas de películas: </h2>
        <ul>
            <li *ngFor="let pelicula of usuario.peliculas">
                <img routerLink='/pelicula/{{pelicula.pelicula}}' src="{{pelicula.imagen}}" alt="Imagen de la película">
                <h2>{{pelicula.nota}}</h2>
                <h3 routerLink='/pelicula/{{pelicula.pelicula}}'>{{pelicula.titulo}}</h3>
            </li>
        </ul>
    </div>
    <div class="critica">
        <h2>Críticas de series</h2>
        <ul>
            <li *ngFor="let serie of usuario.series">
                <img routerLink='/serie/{{serie.serie}}' src="{{serie.imagen}}" alt="Imagen de la serie">
                <h2>{{serie.nota}}</h2>
                <h3 routerLink='/serie/{{serie.serie}}'>{{serie.titulo}}</h3>
            </li>
        </ul>
    </div>
</div>

<app-confirm *ngIf="modal === 'login'" mensaje="Necesitas iniciar sesión" status="alert"
    (aceptButton)="_router.navigate(['/login'])"></app-confirm>