.container{
    margin-left: 25px;
    margin-right: 25px;
}

.rounded{
    width: 250px;
    height: 200px;
}

.critica ul{
    display: flex;
    margin: 10px;
    padding: 15px;
    overflow-x: scroll;
    border: solid black 1px;
    text-align: center;
}

.critica ul li{
    list-style: none;
    margin-right: 30px;
    padding: 10px;
}

.critica img{
    width: 150px;
    height: 200px;
}