.perfil{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3%;
}

.rounded{
    width: 250px;
    height: 200px;
}


.critica ul{
    background: white;
    display: flex;
    margin: 10px;
    padding: 15px;
    overflow-x: scroll;
    border: solid black 1px;
    text-align: center;
}

.critica ul li{
    list-style: none;
    margin-right: 30px;
    padding: 10px;
}

.critica ul h2{
    margin-top: 10px;
    margin-bottom: 0;
}

.critica img{
    width: 150px;
    height: 200px;
}

.btn{
    padding: 5px;
    margin: 20px;
}

.link:hover {
    cursor: pointer;
    color: blue;
}