<div class="container">
    <h1>Registro</h1>
    <div class="alert alert-danger" *ngIf="status == 'false'">
        Ha ocurrido un error inesperado al registrarse, por favor vuelva a intentarlo
    </div>
    <div class="alert alert-danger" *ngIf="status == 'false-email'">
        Ya hay un usuario registrado con este email en la plataforma
    </div>
    <div class="alert alert-danger" *ngIf="status == 'false-nick'">
        Ya hay un usuario con este nombre de usuario en la plataforma
    </div>
    <div *ngIf="status == 'true'">
        Se ha registrado correctamente para iniciar sesión pulse <a routerLink='/login'>aqui</a>
    </div>
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nombre" class="form-label">Nombre: </label>
            <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre" required>
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                <span *ngIf="nombre.errors.required">
                    El nombre es obligatorio
                </span>
                <span *ngIf="nombre.errors.maxlength">
                    El nombre debe de terner menos de 50 caracteres
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Nombre de usuario: </label>
            <input type="text" class="form-control" id="nick" name="nick" formControlName="nick">
            <div *ngIf="nick.invalid && (nick.dirty || nick.touched)" class="alert alert-danger">
                <span *ngIf="nick.errors.required">
                    El nombre de usuario es obligatorio
                </span>
                <span *ngIf="nick.errors.maxlength">
                    El nombre de usuario debe de tener al menos 50 caracteres <br>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Email: </label>
            <input type="email" class="form-control" id="email" name="email" formControlName="email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <span *ngIf="email.errors.required">
                    El email es obligatorio
                </span>
                <span *ngIf="email.errors.email">
                    El email no es correcto
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Contraseña: </label>
            <input type="password" class="form-control" id="pass" name="pass" formControlName="pass">
            <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
                <span *ngIf="pass.errors.required">
                    La contraseña es obligatoria
                </span>
                <span *ngIf="pass.errors.minlength">
                    La contraseña debe de tener al menos 8 caracteres <br>
                </span>
                <span *ngIf="pass.errors.maxLength">
                    La contraseña no puede tener más de 50 caracteres
                </span>
                <span *ngIf="pass.errors.pattern">
                    La contraseña debe contener al menos una mayúscula, una minúscula y un número
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Confirmar Contraseña: </label>
            <input type="password" class="form-control" id="confirmPass" formControlName="confirmPass">
            <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)" class="alert alert-danger">
                <span *ngIf="confirmPass.errors.required">
                    La confrimación de la contraseña es obligatoria
                </span>
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="passMatch == 'false'">
            Las contraseñas no son iguales
        </div>
        <div class="form-group">
            <label>(Opcional) Descripción: </label>
            <textarea type="text" class="form-control" id="descripcion" name="descripcion"
                formControlName="descripcion"></textarea>
            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-danger">
                <span *ngIf="descripcion.errors.minlength">
                    La descripción debe de tener como mínimo 8 caracteres
                </span>
                <span *ngIf="descripcion.errors.maxlength">
                    La descripción no puede tener más 500 caracteres
                </span>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!registroForm.valid">Registrarse</button>
    </form>

</div>

<app-confirm *ngIf="modal === 'registroCorrecto'" mensaje="Te has registrado correctamente" status="alert"
(aceptButton)="_router.navigate(['/login'])"></app-confirm>