<h1>Información</h1>
<div class="container">
    <div class="imagen">
        <img src="{{serie.imagen}}" alt="Imagen del cartel de la película">
    </div>
    <div class="datos">
        <h2>{{serie.titulo}}</h2>
        <p>Inicio: {{serie.inicio | date:"dd/MM/yyyy"}}</p>
        <p>Final: {{serie.final | date:"dd/MM/yyyy"}}</p>
        <p *ngIf="serie.nota_media != null">
            Nota: {{serie.nota_media}}
        </p>
        <p>{{serie.sinopsis}}</p>
        <p>Generos:</p>
        <ul *ngFor="let genero of serie.generos">
            <li>{{genero}}</li>
        </ul>
        <p>Temporadas: {{serie.temporadas}}</p>
        <p>Capitulos: {{serie.capitulos}}</p>
        <p>Creadores:</p>
        <li *ngFor="let creador of serie.creadores">
            <a (click)=getProfesional(creador)>{{creador}}</a>
        </li>
    </div>
    <div class="actor">
        <h3>Reparto:</h3>
        <li *ngFor="let actor of serie.actores">
            <span><a (click)=getProfesional(actor.nombre)>{{actor.nombre}} </a> ................... <p>
                    {{actor.personaje}}</p></span>
        </li>
    </div>

    <div *ngIf="criticaUsuario == true">
        <h2>Mi Crítica</h2>
        <p>{{miCritica.titulo}}</p>
        <p>{{miCritica.nota}}</p>
        <p>{{miCritica.texto}}</p>
        <button (click)=deleteCritica()>Eliminar</button>
        <button routerLink="/updatecriticaS/{{serie._id}}/{{miCritica._id}}">Modificar</button>
    </div>
    
</div>
<div class="evaluar">
    <div class="botones">
        <p class="boton" (click)=statusCritica()>Críticas</p>
        <p> | </p>
        <p class="boton" (click)=statusComentario()>Comentarios</p>
    </div>
    <div *ngIf="status == 'critica'" class="criticas">
        <button (click)=addCritica()>Escribir crítica</button>
        <div>
            <p>Críticas: </p>
            <li *ngFor="let critica of serie.criticas">
                <h2>{{critica.titulo}}</h2>
                <p>{{critica.nota}}</p>
                <p>{{critica.nick}}</p>
                <p>{{critica.texto}}</p>
            </li>
        </div>
    </div>
    <div *ngIf="status == 'comentario'" class="comentario">
        <input type="text" id="texto" name="texto" [formControl]="texto" placeholder="Escribe un comentario"
            maxlength="250">
        <mat-error *ngIf="texto.invalid">
            No se puede escribir un comentario de más de 250 carácteres
        </mat-error>
        <button (click)=addComentario()>Comentar</button>
        <div>
            <p>Comentarios: </p>
            <li *ngFor="let comentario of serie.comentarios">
                <p>{{comentario.nick}}</p>
                <p>{{comentario.texto}}</p>
            </li>
        </div>
    </div>
</div>