.nota-cont{
    margin: 40px 0 40px 10px;
}

.nota{
    padding: 20px;
    color: white;
    border-radius: 10px;
    font-size: x-large;
    border: solid 1px black;
}

.gr{
    background-color: green;
}

.red{
    background-color: red;
}

.ye{
    background-color: yellow;
}

.actor span{
    display: flex;
}

.actor span a{
    font-size: 17px;
    font-weight: 500;
}

.actor span a:hover{
    color: blue;
    cursor: pointer;
}

.evaluar{
    border: solid black 1px;
}

.evaluar .botones{
    display: flex;
    padding: 10px;
}

.evaluar .botones p{
    margin-left: 20px;
    margin-right: 20px;
}

.evaluar .botones .boton:hover{
    color: blue;
    cursor: pointer;
}

.criticas{
    border: solid black 1px;
}
