<div class="container">
    <div class="row">
        <div class="col-sm">
            <img class="img-fluid" src="{{pelicula.imagen}}" alt="Imagen del cartel de la película">
        </div>
        <div class="col-sm">
            <h1>{{pelicula.titulo}}</h1>
            <div class="nota">
                <div class="nota-cont" *ngIf="pelicula.nota_media != null">
                    <span *ngIf="pelicula.nota_media > 6" class="nota-m gr">
                        {{pelicula.nota_media}}
                    </span>
                    <span *ngIf="pelicula.nota_media <= 6 && pelicula.nota_media > 4" class="nota-m ye">
                        {{pelicula.nota_media}}
                    </span>
                    <span *ngIf="pelicula.nota_media <= 4" class="nota-m red">
                        {{pelicula.nota_media}}
                    </span>
                </div>
                <div *ngIf="usuario">
                    <select class="form-control" value="nota" [formControl]="nota" name="nota" id="nota">
                        <option>No vista</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                    <button class="btn btn-primary" (click)=addNota()>Puntuar</button>
                </div>
            </div>
            <p>Duración: {{pelicula.duracion}} minutos</p>
            <p>Estreno: {{pelicula.fecha_estreno | date:"dd/MM/yyyy"}}</p>
            <p>{{pelicula.sinopsis}}</p>
            <p>Generos: {{generos}}</p>
            <!--<ul class="list" *ngFor="let genero of pelicula.generos">
                <li class="list-item">{{genero}}</li>
            </ul> -->
            
                
                <p *ngFor="let director of pelicula.directores">
                    <a (click)=getProfesionalN(director)>Directore:  {{director}}</a>
                </p>
            
            <div *ngIf="pelicula.plataformas.length >= 1">
                <h3>Donde puedes verlo:</h3>
                <ul class="row">
                    <li class="list-item col" *ngFor="let plataforma of pelicula.plataformas">
                        <img src="{{plataforma.icono}}" alt="{{plataforma.nombre}}">
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="actor">
        <h3>Reparto:</h3>
        <li class="list-item" *ngFor="let actor of pelicula.actores">
            <span class="row">
                <a class="col-sm" (click)=getProfesionalN(actor.nombre)>{{actor.nombre}} </a>
                <p class="col-sm">...................</p>
                <p class="col-sm">{{actor.personaje}}</p>
            </span>
        </li>
    </div>

    <div class="video">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="853" height="480" [src]="videoUrl" frameborder="0"
                allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>



    <div class="criticaUser" *ngIf="criticaUsuario == true">
        
        <h2>{{miCritica.titulo}}</h2>
        <p class="notaC">{{miCritica.nota}}</p>
        <p [innerHTML]="miCritica.texto"></p>
        <button class="btn btn-primary" (click)="modal = 'eliminarCritica'">Eliminar</button>
        <button class="btn btn-primary"
            routerLink="/updatecriticaP/{{pelicula._id}}/{{miCritica._id}}">Modificar</button>
    </div>

    <app-confirm *ngIf="modal === 'eliminarCritica'" mensaje="¿Estas seguro de eliminar la crítica?" status="confirm"
        (noButton)="modal = null" (yesButton)="deleteCritica()"></app-confirm>

    <div class="evaluar">
        <div *ngIf="status == 'critica'">
            <div class="botones">
                <p class="botonA">Críticas</p>
                <p> | </p>
                <p class="boton" (click)="status = 'comentario'">Comentarios</p>
            </div>
            <button class="btn btn-primary" *ngIf="criticaUsuario == false" (click)=addCritica()>Escribir crítica</button>
            <div class="criticas">
                <div *ngFor="let critica of pelicula.criticas">
                    <div class="row critica" *ngIf="critica.texto != null">
                        <div class="col-sm-3">
                            <a routerLink='/usuario/{{critica.usuario}}'>{{critica.nick}}</a>
                            <p class="notaC">{{critica.nota}}</p>
                        </div>
                        <div class="col-sm">
                            <h2>{{critica.titulo}}</h2>
                            <p [innerHTML]="critica.texto"></p>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="status == 'comentario'">
            <div class="botones">
                <p class="boton" (click)="status = 'critica'">Críticas</p>
                <p> | </p>
                <p class="botonA">Comentarios</p>
            </div>
        
            <textarea class="texto" type="text" id="texto" name="texto" [formControl]="texto" placeholder="Escribe un comentario"> </textarea>
            <div *ngIf="texto.invalid" class="alert alert-danger">
                <span *ngIf="texto.errors.maxlength">
                    El comentario no pude ser mayor de 250 carácteres
                </span>
            </div>
            <button class="btn btn-primary" [disabled]="texto.invalid" (click)=addComentario()>Comentar</button>
        
            <div *ngIf="usuario" class="comentarios">
                <div *ngFor="let comentario of pelicula.comentarios">
                    <div #inputUpdate *ngIf="upComentario === comentario._id" class="comentario">
                        <p class="nick"><a routerLink='/usuario/{{comentario.usuario}}'>{{comentario.nick}}</a> <span *ngIf="comentario.editado">(Editado)</span> </p>
                        <textarea class="texto" type="text" id="uptexto" name="uptexto" [formControl]="uptexto"
                            value="{{comentario.texto}}" > </textarea>
                        <div *ngIf="uptexto.invalid" class="alert alert-danger">
                            <span *ngIf="uptexto.errors.maxlength">
                                El comentario no pude ser mayor de 250 carácteres
                            </span>
                        </div>
                        <button class="btn btn-primary" [disabled]="uptexto.invalid" (click)=updateComentario(comentario._id)>Modificar</button>
                    </div>
                    <div *ngIf="comentario.usuario != usuario._id" class="comentario">
                        <p class="nick"><a routerLink='/usuario/{{comentario.usuario}}'>{{comentario.nick}}</a> <span *ngIf="comentario.editado">  (Editado)</span> </p>
                        <p class="comText">{{comentario.texto}}</p>
                    </div>
                    <div *ngIf="upComentario && upComentario != comentario._id && comentario.usuario === usuario._id" class="comentario">
                        <p class="nick"><a routerLink='/usuario/{{comentario.usuario}}'>{{comentario.nick}}</a> <span *ngIf="comentario.editado">  (Editado)</span> </p>
                        <p class="comText">{{comentario.texto}}</p>
                    </div>
                    <div *ngIf="!upComentario && comentario.usuario === usuario._id" class="comentario">
                        <p class="nick"><a routerLink='/usuario/{{comentario.usuario}}'>{{comentario.nick}}</a> <span *ngIf="comentario.editado">  (Editado)</span> </p>
                        <p>
                            <span class="comText" (click)="comentarioUp(comentario._id)"> {{comentario.texto}}  </span>
                            <i (click)="modalEliminar(comentario._id)" class="material-icons btn-delete">delete_outline</i> 
                        </p>

                        <app-confirm *ngIf="modal === 'eliminarComentario'"
                            mensaje="¿Estas seguro de eliminar el comentario?" status="confirm"
                            (noButton)="modal = null" (yesButton)="deleteComentario()"></app-confirm>
                    </div>
                    
                </div>
            </div>

            <div *ngIf="!usuario" class="comentarios">
                <div *ngFor="let comentario of pelicula.comentarios">
                    <p>{{comentario.nick}} <span *ngIf="comentario.editado">(Editado)</span> </p>
                    <p>{{comentario.texto}}</p>
                </div>
            </div>
        </div>

    </div>

</div>

<app-confirm *ngIf="modal === 'deleteCritica'" mensaje="La crítica se ha eliminado correctamente" status="alert"
    (aceptButton)="reloadUsuario()"></app-confirm>

<app-confirm *ngIf="modal === 'addNota'" mensaje="La nota se ha guardado" status="alert"
    (aceptButton)="reloadUsuario()"></app-confirm>

<app-confirm *ngIf="modal === 'deleteNota'" mensaje="La nota se ha eliminado" status="alert"
    (aceptButton)="reloadUsuario()"></app-confirm>

<app-confirm *ngIf="modal === 'userCritica'" mensaje="Necesitas iniciar sesión para escribir una crítica" status="alert"
    (aceptButton)="_router.navigate(['/login'])"></app-confirm>

<app-confirm *ngIf="modal === 'userComentario'" mensaje="Necesitas iniciar sesión para escribir un comentario"
    status="alert" (aceptButton)="_router.navigate(['/login'])"></app-confirm>

<app-confirm *ngIf="modal === 'errorNota'" mensaje="No puedes quitar la nota de una película donde tengas una crítica escrita" status="alert"
    (aceptButton)="modal = null"></app-confirm>