<div class="container">
    <div class="row">
        <div class="col-sm">
            <img class="img-fluid" src="{{pelicula.imagen}}" alt="Imagen del cartel de la película">
        </div>
        <div class="col-sm">
            <h1>{{pelicula.titulo}}</h1>
            <div class="nota">
                <div class="nota-cont" *ngIf="pelicula.nota_media != null">
                    <span *ngIf="pelicula.nota_media > 6" class="nota gr">
                        {{pelicula.nota_media}}
                    </span>
                    <span *ngIf="pelicula.nota_media <= 6 && pelicula.nota_media > 4" class="nota ye">
                        {{pelicula.nota_media}}
                    </span>
                    <span *ngIf="pelicula.nota_media <= 4" class="nota red">
                        {{pelicula.nota_media}}
                    </span>
                </div>
                <div *ngIf="usuario">
                    <label>Tu nota</label>
                    <select class="form-control" value="nota" [formControl]="nota" name="nota" id="nota">
                        <option>No vista</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                    <button (click)=addNota()>Puntuar</button>
                </div>
            </div>
            <p>Duración: {{pelicula.duracion}} minutos</p>
            <p>Estreno: {{pelicula.fecha_estreno | date:"dd/MM/yyyy"}}</p>
            <p>{{pelicula.sinopsis}}</p>
            <p>Generos: {{generos}}</p>
            <!--<ul class="list" *ngFor="let genero of pelicula.generos">
                <li class="list-item">{{genero}}</li>
            </ul> -->
            <span>
                <p>Directores:</p>
                <p *ngFor="let director of pelicula.directores">
                    <a (click)=getProfesional(director)>{{director}}</a>
                </p>
            </span>
            <div *ngIf="pelicula.plataformas.length >= 1">
                <h3>Donde puedes verlo:</h3>
                <ul class="row">
                    <li class="list-item col" *ngFor="let plataforma of pelicula.plataformas">
                        <img src="{{plataforma.icono}}" alt="{{plataforma.nombre}}">
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="actor">
        <h3>Reparto:</h3>
        <li class="list-item" *ngFor="let actor of pelicula.actores">
            <span class="row">
                <a class="col-sm" (click)=getProfesional(actor.nombre)>{{actor.nombre}} </a>
                <p class="col-sm">...................</p>
                <p class="col-sm">{{actor.personaje}}</p>
            </span>
        </li>
    </div>

    <div class="video">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="853" height="480" [src]="videoUrl" frameborder="0"
                allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>


<div *ngIf="criticaUsuario == true">
    <h2>Mi Crítica</h2>
    <p>{{miCritica.titulo}}</p>
    <p>{{miCritica.nota}}</p>
    <p [innerHTML]="miCritica.texto"></p>
    <button (click)="modal = 'eliminarCritica'">Eliminar</button>
    <button routerLink="/updatecriticaP/{{pelicula._id}}/{{miCritica._id}}">Modificar</button>
</div>

<app-confirm *ngIf="modal === 'eliminarCritica'" mensaje="¿Estas seguro de eliminar la crítica?" status="confirm"
    (noButton)="modal = null" (yesButton)="deleteCritica()"></app-confirm>

<div class="evaluar">
    <div class="botones">
        <p class="boton" (click)="status = 'critica'">Críticas</p>
        <p> | </p>
        <p class="boton" (click)="status = 'comentario'">Comentarios</p>
    </div>
    <div *ngIf="status == 'critica'" class="criticas">
        <button *ngIf="criticaUsuario == false" (click)=addCritica()>Escribir crítica</button>
        <div>
            <p>Críticas: </p>
            <li *ngFor="let critica of pelicula.criticas">
                <div *ngIf="critica.texto != null">
                    <h2>{{critica.titulo}}</h2>
                    <p>{{critica.nota}}</p>
                    <a routerLink='/usuario/{{critica.usuario}}'>{{critica.nick}}</a>
                    <p [innerHTML]="critica.texto"></p>
                </div>
            </li>
        </div>
    </div>
    <div *ngIf="status == 'comentario'" class="comentario">
        <input type="text" id="texto" name="texto" [formControl]="texto" placeholder="Escribe un comentario"
            maxlength="250">
        <mat-error *ngIf="texto.invalid">
            No se puede escribir un comentario de más de 250 carácteres
        </mat-error>
        <button (click)=addComentario()>Comentar</button>
        <div>
            <p>Comentarios: </p>
            <li *ngFor="let comentario of pelicula.comentarios">
                <div *ngIf="comentario.usuario != usuario._id">
                    <p>{{comentario.nick}} <span *ngIf="comentario.editado">(Editado)</span> </p>
                    <p>{{comentario.texto}}</p>
                </div>
                <div *ngIf="!upComentario && comentario.usuario === usuario._id">
                    <p>{{comentario.nick}} <span *ngIf="comentario.editado">(Editado)</span> </p>
                    <i (click)="modal = 'eliminarComentario'" class="material-icons btn-delete">delete_outline</i>
                    <p (click)="upComentario = comentario._id">{{comentario.texto}}</p>
                
                    <app-confirm *ngIf="modal === 'eliminarComentario'" mensaje="¿Estas seguro de eliminar el comentario?" status="confirm"
                        (noButton)="modal = null" (yesButton)="deleteComentario(comentario._id)"></app-confirm>
                </div>
                <div *ngIf="upComentario === comentario._id">
                    <p>{{comentario.nick}} <span *ngIf="comentario.editado">(Editado)</span> </p>
                    <input type="text" id="uptexto" name="uptexto" [formControl]="uptexto" value="{{comentario.texto}}"
                        maxlength="250" minlength="10">
                    <mat-error *ngIf="uptexto.invalid">
                        No se puede escribir un comentario de más de 250 carácteres y de menos de 10 carácteres
                    </mat-error>

                    <button (click)=updateComentario(comentario._id)>Modificar</button>
                </div>
            </li>
        </div>
    </div>
    
</div>

<app-confirm *ngIf="modal === 'deleteCritica'" mensaje="La crítica se ha eliminado correctamente" status="alert"
    (aceptButton)="reloadUsuario()"></app-confirm>

<app-confirm *ngIf="modal === 'addNota'" mensaje="La nota se ha guardado" status="alert"
    (aceptButton)="reloadUsuario()"></app-confirm>

<app-confirm *ngIf="modal === 'deleteNota'" mensaje="La nota se ha eliminado" status="alert"
    (aceptButton)="reloadUsuario()"></app-confirm>

<app-confirm *ngIf="modal === 'userCritica'" mensaje="Necesitas iniciar sesión para escribir una crítica" status="alert"
    (aceptButton)="_router.navigate(['/login'])"></app-confirm>

<app-confirm *ngIf="modal === 'userComentario'" mensaje="Necesitas iniciar sesión para escribir un comentario" status="alert"
    (aceptButton)="_router.navigate(['/login'])"></app-confirm>

