
h1{
    margin-top: 30px;
    font-size: 40px;
}

.container{
    padding: 50px 20px 10px 20px;
}

.img-fluid{
    min-width: 250px;
    max-width: 400px;
    max-height: 600px;
    margin-right: 10px;
}

.nota-cont{
    margin: 40px 0 40px 10px;
}

.nota{
    padding: 20px;
    color: white;
    border-radius: 10px;
    font-size: x-large;
    border: solid 1px black;
}

.gr{
    background-color: green;
}

.red{
    background-color: red;
}

.ye{
    background-color: yellow;
}

.list{
    display: flex;
}

.list-item{
    list-style: none;
}

.actor{
  margin: 20px;
  list-style: none;
  padding-left: 20px;
  max-width: 500px;
  max-height: 350px;
  border: solid black 1px;
  background-color: white;
  overflow: auto;
}

.actor a {
    color: black;
}

.actor span a:hover{
    color: blue;
    cursor: pointer;
}

.evaluar{
    border: solid black 1px;
}

.evaluar .botones{
    display: flex;
    padding: 10px;
}

.evaluar .botones p{
    margin-left: 20px;
    margin-right: 20px;
}

.evaluar .botones .boton:hover{
    color: blue;
    cursor: pointer;
}

.criticas{
    border: solid black 1px;
}
