span {
    border-radius: 5px;
    margin: 15px;
}

.container img{
    width: 150px;
    height: 200px;
}

.col-8 {
    padding: 20px;
    border: solid black 1px;
    text-align: center;
    margin-bottom: 50px;
    background-color: rgb(209, 212, 250);
}

.col-4 {
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.col-sm {
    margin: 15px 5px;
}

.container a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

