span {
    border-radius: 5px;
    margin: 5px;
}

img{
    width: 150px;
    height: 200px;
}

.result {
    padding: 20px;
    border: solid black 1px;
    text-align: center;
    margin-bottom: 50px;
    background-color: rgb(209, 212, 250);
}

.filter {
    text-align: center;
}

.col-sm {
    margin: 15px 5px;
}

a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

@media screen and (max-width: 850px) {
    .result{
        margin-left: 80px;
        text-align: center;
    }
}
