<div class="container" *ngIf='usuario'>
    <h1>Escribir una crítica</h1>
    <form [formGroup]="criticaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nota: </label>
            <select class="form-control" id="nota" name="nota" formControlName="nota" required>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>                        
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
            <div *ngIf="nota.invalid && (nota.dirty || nota.touched)" class="alert-danger">
                <mat-error *ngIf="nota.errors.required">
                    La nota es obligatoria
                </mat-error>
            </div>
        </div>
        <div class="form-group">
            <label>Título: </label>
            <input type="text" class="form-control" id="titulo" name="titulo" formControlName="titulo" required>
            <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="alert-danger">
                <mat-error *ngIf="titulo.errors.required">
                    El título es obligatorio
                </mat-error>
                <mat-error *ngIf="titulo.errors.maxlength">
                    El título debe de terner menos de 100 carácteres
                </mat-error>
            </div>
        </div>
        <div class="form-group">
            <label>Crítica: </label>
            <textarea type="text" class="form-control" id="texto" name="texto" formControlName="texto" required></textarea>
            <div *ngIf="texto.invalid && (texto.dirty || texto.touched)" class="alert-danger">
                <mat-error *ngIf="texto.errors.required">
                    Es obligatorio escribir una crítica
                </mat-error>
                <mat-error *ngIf="texto.errors.minlength">
                    La crítica debe de tener como mínimo 140 carácteres
                </mat-error>
            </div>
        </div>
        <button type="submit" [disabled]="!criticaForm.valid">Publicar crítica</button>
    </form>

</div>

<app-confirm *ngIf="modal === 'login'" mensaje="Necesitas iniciar sesión para escribir una crítica" status="alert"
    (aceptButton)="_router.navigate(['/login'])"></app-confirm>

<app-confirm *ngIf="modal === 'existCriticaP'" mensaje="Ya tienes escrita una crítica de esta película y no se puden escribir más de una crítica de la misma película" status="alert"
    (aceptButton)="_router.navigate(['/pelicula/'+peliculaId])"></app-confirm>

<app-confirm *ngIf="modal === 'existCriticaS'" mensaje="Ya tienes escrita una crítica de esta serie y no se puden escribir más de una crítica de la misma serie" status="alert"
    (aceptButton)="_router.navigate(['/serie/'+serieId])"></app-confirm>

<app-confirm *ngIf="modal === 'addCritica'" mensaje="La crítica se ha guardado correctamente" status="alert"
    (aceptButton)="reloadUsuario()"></app-confirm>