h1{
    text-align: center;
    margin-bottom: 20px;
    color: blue;
    font-size: 30px;
    margin-top: 15px;
  }

  textarea{
      height: 180px;
  }
  
  form{
    width: 80%;
    text-align: center;
  }
  
  .form-group{
    text-align: left;
    font-size: medium;
  }
  
  .btn{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .container{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 50%;
    min-height: 50%;
    padding: 10px;
    border: solid black 1px;
    background-color: white;
  }
  
  @media screen and (max-width: 840px){
    .container{
      width: 80%;
    }
  }