<div *ngIf="user == 'true'" class="container">
    <h1>Modificar Perfil</h1>
    <div class="alert alert-danger" role="alert" *ngIf="status == 'false'">
        Ha ocurrido un error inesperado al registrarse, por favor vuelva a intentarlo
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="status == 'false-email'">
        Ya hay un usuario registrado con este email en la plataforma
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="status == 'false-imagen'">
        El archivo seleccionado no es una imagen
    </div>
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nombre: </label>
            <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre">
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                <span *ngIf="nombre.errors.maxlength">
                    El nombre debe de terner menos de 50 carácteres
                </span>
            </div>
        </div>
        
        <!--<div class="form-group">
            <label>Nick: </label>
            <input type="text" class="form-control" id="nick" name="nick" formControlName="nick">
            <div *ngIf="nick.invalid && (nick.dirty || nick.touched)" class="alert alert-danger">
                <mat-error *ngIf="nick.errors.required">
                    El nick es obligatorio
                </mat-error>
            </div>
        </div> -->

        <div class="form-group">
            <label>Email: </label>
            <input type="email" class="form-control" id="email" name="email" formControlName="email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <span *ngIf="email.errors.email">
                    El email no es valido
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Descripción: </label>
            <textarea type="text" class="form-control" id="descripcion" name="descripcion"
                formControlName="descripcion"></textarea>
            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-danger">
                <span *ngIf="descripcion.errors.minlength">
                    La descripción debe de tener como mínimo 8 carácteres
                </span>
                <span *ngIf="descripcion.errors.maxlength">
                    La descripción no puede tener más 500 carácteres
                </span>
            </div>
        </div>
        <!-- <div *ngIf="usuario.imagen != null">
            <img src="{{url+'getImagen/'+usuario.imagen}}" alt="Imagen del usuario">
        </div> -->
        <div class="form-group">
            <label>Imagen de perfil: </label>
            <!--<label class="subir" for="up-imagen"> 
                <i class="material-icons upload">file_upload</i>
                Subir Imagen</label> 
            <input type="file" placeholder="Subir imagen" (change)="imagenEvent($event)"> -->
            <!--<button mat-raised-button (click)="fileInput.click()">
                {{ file ? file.name : 'Select' }}
            </button> -->
            <span class="btn btn-secondary" *ngIf="!file" (click)="fileInput.click()">
                <i class="material-icons upload">file_upload</i>
                Subir Imagen
            </span>
            <span class="btn btn-secondary" *ngIf="file" (click)="fileInput.click()">
                {{file.name}} 
            </span>
              <input
                hidden
                type="file"
                #fileInput
                (change)="imagenEvent(fileInput.files)"
              />
            <div class="progress" *ngIf="upload$ | async as download">
                <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{'width.%': download.progress}"  aria-valuemin="0" aria-valuemax="100">{{download.progress}}%</div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!registroForm.valid || status == 'false-imagen'">Actualizar</button>
        
    </form>
    
</div>

<app-confirm *ngIf="modal === 'login'" mensaje="No tienes permisos para actualizar este usuario" status="alert"
    (aceptButton)="_router.navigate(['/login'])"></app-confirm>
<app-confirm *ngIf="modal === 'updateUser'" mensaje="Se han guardado los cambios correctamente" status="alert"
    (aceptButton)="_router.navigate(['/perfil'])"></app-confirm>
