h1{
    text-align: center;
    margin-bottom: 20px;
    color: blue;
    font-size: 30px;
    margin-top: 15px;
  }
  
  form{
    width: 70%;
    text-align: center;
  }
  
  .form-group{
    text-align: left;
    font-size: medium;
  }
  
  .container{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 50%;
    min-height: 50%;
    padding: 10px;
    border: solid black 1px;
    background-color: white;
  }

  .subir{
      padding: 8px;
      background-color: rgb(201, 200, 204);
      color: black;
      border-radius: 5%;
      
  }

  .subir:hover{
      background-color: rgb(134, 137, 139);
      cursor: pointer;
  }

  .upload{
    vertical-align: middle;
  }

  .btn{
      margin: 10px;
      font-size: 20px;
  }
  
  @media screen and (max-width: 840px){
    .container{
      width: 80%;
    }
  }