<div class="container">
    <h1>Inicio de Sesión</h1>

    <div class="alert alert-danger" *ngIf="status == 'false'">
        Ha ocurrido un error al iniciar sesión, compruebe que sus datos han sido introducidos correctamente
    </div>
    <div *ngIf="status == 'true'">
        Los datos son correctos
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Email </label>
            <input type="email" class="form-control" id="email" name="email" formControlName="email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <span *ngIf="email.errors.required">
                    El email es obligatorio
                </span>
                <span *ngIf="email.errors.email">
                    El email no es valido
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Contraseña </label>
            <input type="password" class="form-control" id="pass" name="pass" formControlName="pass">
            <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
                <span *ngIf="pass.errors.required">
                    La contraseña es obligatoria
                </span>
                <span *ngIf="pass.errors.minlength">
                    La contraseña debe de tener al menos 8 carácteres <br>
                </span>
                <span *ngIf="pass.errors.maxLength">
                    La contraseña no puede tener más de 50 carácteres
                </span>
                <span *ngIf="pass.errors.pattern">
                    La contraseña debe contener al menos una mayúscula, una minúscula y un número
                </span>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid" >Iniciar sesión</button>
    </form>
</div>
