h1{
  text-align: center;
  margin-bottom: 20px;
  color: blue;
  font-size: 30px;
  margin-top: 15px;
}

form{
  width: 70%;
  text-align: center;
}

.btn{
  margin: 10px;
  font-size: 20px;
}

.form-group{
  text-align: left;
  font-size: medium;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 50%;
  min-height: 50%;
  padding: 10px;
  padding-bottom: 20px;
  border: solid black 1px;
  background-color: white;
}

@media screen and (max-width: 840px){
  .container{
    width: 80%;
  }
}


