<h1>Información</h1>
<div class="container">
    <div class="imagen">
        <img src="{{profesional.imagen}}" alt="Imagen del cartel de la película">
    </div>
    <div class="datos">
        <h2>{{profesional.nombre}}</h2>
        <p>Fecha de nacimiento: {{profesional.fecha_nacimiento | date:"dd/MM/yyyy"}}</p>
        <p>{{profesional.biografia}}</p>
    </div>
   <div class="filmografia">
        <p>Filmografía:</p>
        <li *ngFor="let filmografia of profesional.filmografia">
            <div *ngIf="filmografia.tipo == 'Película'">
                <h2>Película</h2>
                <a (click) = getPelicula(filmografia.titulo)>{{filmografia.titulo}}</a>
            </div>
            <div *ngIf="filmografia.tipo == 'Serie'">
                <h2>Serie</h2>
                <a (click) = getSerie(filmografia.titulo)>{{filmografia.titulo}}</a>
            </div>    
            <p>{{filmografia.rol}}</p>
            <p>{{filmografia.personaje}}</p>
        </li>
    </div> 
</div>
