<div class="container">
    <div class="row">
        <div class="col-sm">
            <img class="img-fluid" src="{{profesional.imagen}}" alt="Imagen del cartel de la película">
        </div>

        <div class="col-sm">
            <h1>{{profesional.nombre}}</h1>
            <p>{{profesional.fecha_nacimiento | date:"dd/MM/yyyy"}}</p>
            <p>{{profesional.biografia}}</p>
        </div>
    </div>

    <div class="filmografia">
        <h2>Filmografía:</h2>
        <li class="list-item" *ngFor="let filmografia of profesional.filmografia">
            <div class="row">
                <span class="col-sm" *ngIf="filmografia.tipo == 'Película'">
                    <a (click)=getPelicula(filmografia.titulo)>{{filmografia.titulo}}  (Película)</a>
                </span>
                <div class="col-sm" *ngIf="filmografia.tipo == 'Serie'">
                    <a (click)=getSerie(filmografia.titulo)>{{filmografia.titulo}}  (Serie)</a>
                </div>
                <p class="col-sm esp">...................</p>
                <div class="col-sm">
                    <p>{{filmografia.personaje}}  ({{filmografia.rol}})</p>
                </div>
            </div>
        </li>
    </div>

</div>