h1{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
}

.container{
    max-width: 100%;
}

.img-fluid{
    min-width: 250px;
    max-height: 800px;
    margin-right: 10px;
}

.filmografia{
    margin: 20px;
    list-style: none;
    padding-left: 20px;
    max-width: 800px;
    max-height: 450px;
    border: solid black 1px;
    background-color: white;
    overflow: auto;
}

.filmografia .row{
    margin: 10px;
}

.filmografia .col-sm{
    margin-bottom: 20px;
}

.filmografia a:hover{
    color: blue;
    cursor: pointer;
}

.esp{
    text-align: center;
}
  